.form-container {
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}

.label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-bottom: -5px;
}

.input-field {
    border-radius: 20px;
}