[class*=illustration-] {
	position: relative;

	&::after {
		pointer-events: none;
	}
}

[class*=illustration-element-]::after {
	z-index: -1;
}

[class*=illustration-section-]::after {
	z-index: -2;
}

// Features illustration 02
.illustration-section-02::after {
	@include illustration('background-shapes.png', 100%, 100%, null, null, null);
}

// Features illustration pics
.illustration-element-pic::after {
	@include illustration('fotos-principal.png', 100%, 100%, null, null, null);
}